@using MudBlazor.Utilities
@using System.Security.Claims
@using System.Text
@using MisteryBlazor.Data.GroupsModel
@using MisteryBlazor.Services
@using MisteryBlazor.Services.DAL
@using MisteryBlazor.Services.DataManager
@using MisteryBlazor.Services.Events
@using MisteryBlazor.StringUtils
@inherits LayoutComponentBase
@inject GroupDataService Gps;
@inject GroupsManager Gm;
@inject AuthorizationManager Am;
@inject ChannelsManager Cm;
@inject GroupManagerEvents Gme;

<head>
    <link href="BlazorMaterialUI.styles.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />
</head>

<MudDialogProvider/>
<MudSnackbarProvider/>
<MudThemeProvider DefaultScrollbar="false"
                  @bind-IsDarkMode="@_isDarkMode"
                  Theme="MisteryTheme"
                  />
<PageTitle>MisteryBlazor</PageTitle>
<div class="room-page-MainLayout">
    <div class="room-mainlayout-sidebar">
        <_RoomUserBar
            OnCurrentGroupChanged="ChangeCurrentGroup" 
            userId=@Am.UserId 
            groups="@Gm.Groups"
            comparedGroups="@Gm.GroupsDictionary"
        />
        <_RoomSideBar
            OnCurrentChannelChanged="ChangeCurrentChannel"
            UserName=@Am.UserName 
            userId=@Am.UserId
            ChannelsMap="@Cm.ChannelsDictionary"
            IsOwned="@Gm.SelectedGroup.Value"/>
    </div>
    <main class="room-page-MainLayout-HeaderBar">
        <_RoomHeaderBar/>
        <_RoomChat/>
    </main>
</div>
@code {
    private _RoomUserBar UserBar;

    private bool _isDarkMode = true;
    protected override async Task OnInitializedAsync()
    {
        await Am.InitAsync();
        await Gm.InitAsync();
        await Cm.InitAsync();
    }
    private void ChangeCurrentGroup(int gid)
    {
        Gm.SelectedGroupId = gid;
    }
    private void ChangeCurrentChannel(int cid)
    {
        Cm.SelectedChannelId = cid;
    }
    private readonly MudTheme MisteryTheme = new MudTheme()
    {
        Palette = new Palette()
        {
            Primary = Colors.Green.Default,
            Secondary = Colors.Green.Default,
            Tertiary = Colors.Green.Default,
            AppbarBackground = Colors.Green.Default,
        },

        PaletteDark = new Palette()
        {
            Dark = Colors.Shades.White,
            GrayDark = Colors.Shades.White,
            Secondary = Colors.Grey.Darken4, 
            Primary = (MudColor) "#1F1F1F",
            TextPrimary = Colors.Grey.Lighten4,
            Tertiary = (MudColor) "#282828",
            Background = (MudColor) "#1F1F1F",
            LinesInputs = Colors.Grey.Lighten4,
            LinesDefault = Colors.Grey.Lighten3,
            TextSecondary = Colors.Grey.Darken1,
            TextDisabled = Colors.Grey.Default,
            ActionDefault= Colors.Grey.Default,
            ActionDisabled= "#ABABAB",
            PrimaryContrastText = Colors.Grey.Lighten3,
            BackgroundGrey = "#BBBBBB",
            Surface = "#242424",
        },

        LayoutProperties = new LayoutProperties()
        {
            DrawerWidthLeft = "260px",
            DrawerWidthRight = "300px"
        }
    };
}