@page "/test"

<div class="room-sidebar">
    <div class="room-sidebar-top">
        <div class="fs-4 fw-bold room-sidebar-top-text">Group</div>
        <span>
            <MudIcon Icon="@Icons.Filled.ExpandMore" Size="Size.Medium"/>
        </span>
    </div>

    <div class="room-sidebar-channels">
        <div class="room-sidebar-channels-header">
            <div class="room-sidebar-header">
                <div class="room-sidebar-expandchannel">
                    <MudIcon Icon="@Icons.Filled.ExpandMore" Size="Size.Medium"/>
                </div>
                <div class="fs-5 fw-bold room-sidebar-channels-text-channels">Channels</div>
            </div>
            <span Class="room-sidebar-addchannel">
                <MudIcon Icon="@Icons.Filled.Add" Size="Size.Medium"></MudIcon>
            </span>
        </div>
        <div class="room-sidebar-channels-list">
            <_RoomSidebarChannel />
            <_RoomSidebarChannel />
            <_RoomSidebarChannel />
        </div>
    </div>
    <div class="room-sidebar-voice">
        <div class="room-sidebar-voice-voiceInfoIco">
            <span class="room-sidebar-voice-voiceico">
                <MudIcon Icon="@Icons.Outlined.SignalCellularAlt" Size="Size.Medium"></MudIcon>
            </span>
            <div class="room-sidebar-voice-VoiceInfo">
                <div class="fs-7 fw-bold room-sidebar-voice-VoiceInfo-text-VoiceConnected">Voice Connected</div>
                <div class="room-sidebar-voice-VoiceInfo-text-stream fs-7">Stream</div>
            </div>
        </div>
        <div class="room-sidebar-voice-icons">
            <span class="room-sidebar-voice-icons-OutlinedInfo">
                <MudIcon Icon="@Icons.Outlined.Info"></MudIcon>
            </span>
            <span class="room-sidebar-voice-icons-FulledCall">
                <MudIcon Icon="@Icons.Filled.Call"></MudIcon>
            </span>
        </div>
    </div>
    <div class="room-sidebar-profile">
        <span class="room-sidebar-profile-avatar">       
            <MudAvatar Size="Size.Medium"></MudAvatar>
        </span>
        <div class="room-sidebar-profile-info">
            <div class="fs-6 room-sidebar-profile-info-name">Lamptron Techart</div>
            <div class="fs-7 room-sidebar-profile-info-id">ID</div>
        </div>
        <div class="room-sidebar-profile-icons">
            <span class="room-sidebar-profile-icons-mic">
                <MudIcon Icon="@Icons.Filled.Mic" Size="Size.Medium"></MudIcon>
            </span>
            <span class="room-sidebar-profile-icons-headset">
                <MudIcon Icon="@Icons.Filled.Headset" Size="Size.Medium"></MudIcon>
            </span>
            <span class="room-sidebar-profile-icons-setting">
                <MudIcon Icon="@Icons.Filled.Settings" Size="Size.Medium"></MudIcon>
            </span>
        </div>
    </div>
</div>

@code {

}
