@page "/test"
@using System.Security.Claims
@using MisteryBlazor.Data.GroupsModel
@using MisteryBlazor.Services.DAL
@using MisteryBlazor.StringUtils
@inject GroupDataService gps;

<div class="room-sidebar mud-theme-primary" oncontextmenu="return false;" 
     @onclick="HandleRightClick_GroupNameBar" @onmouseup="HandleMouseUp_GroupNameBar">
    @if (group is not null)
    {
        <ContextMenuTrigger MenuId="room-siderbar-groupname-menu">
            <div class="room-sidebar-top mud-theme-primary mud-elevation-1">
                <div class="fs-4 fw-bold room-sidebar-top-text">@group.GroupName.ToStringFromASCIIByte()</div>
                <span>
                    <MudIcon Icon="@Icons.Filled.ExpandMore" Size="Size.Medium"/>
                </span>
            </div>
        </ContextMenuTrigger>
    }
    <div class="room-sidebar-channels mud-elevation-2">

    </div>

    <div class="room-sidebar-voice mud-theme-secondary" style="display: none;">
        <div class="room-sidebar-voice-voiceInfoIco mud-theme-secondary">
            <span class="room-sidebar-voice-voiceico">
                <MudIcon Icon="@Icons.Outlined.SignalCellularAlt" Size="Size.Medium"></MudIcon>
            </span>
            <div class="room-sidebar-voice-VoiceInfo">
                <div class="fw-bold room-sidebar-voice-VoiceInfo-text-VoiceConnected">Voice Connected</div>
                <div class="room-sidebar-voice-VoiceInfo-text-stream">Stream</div>
            </div>
        </div>
        <div class="room-sidebar-voice-icons">
            <span class="room-sidebar-voice-icons-OutlinedInfo">
                <MudIcon Icon="@Icons.Outlined.Info"></MudIcon>
            </span>
            <span class="room-sidebar-voice-icons-FulledCall">
                <MudIcon Icon="@Icons.Filled.Call"></MudIcon>
            </span>
        </div>
    </div>

    <div class="room-sidebar-profile mud-theme-secondary mud-elevation-5">
        <span class="room-sidebar-profile-avatar">
            <MudAvatar Size="Size.Medium"></MudAvatar>
        </span>
        <div class="room-sidebar-profile-info">
            <div class="fs-7 room-sidebar-profile-info-name fw-bold">@UserName</div>
            <div class="room-sidebar-profile-info-id">@userId</div>
        </div>
        <div class="room-sidebar-profile-icons">
            <span class="room-sidebar-profile-icons-mic">
                <MudIcon Icon="@Icons.Filled.Mic" Size="Size.Medium"></MudIcon>
            </span>
            <span class="room-sidebar-profile-icons-headset">
                <MudIcon Icon="@Icons.Filled.Headset" Size="Size.Medium"></MudIcon>
            </span>
            <span class="room-sidebar-profile-icons-setting">
                <MudIcon Icon="@Icons.Filled.Settings" Size="Size.Medium"></MudIcon>
            </span>
        </div>
    </div>
</div>

<ContextMenu  Id="room-siderbar-groupname-menu" Template="ContextMenuTemplate" CssClass="mud-theme-primary">
    <MudItem>Test</MudItem>
</ContextMenu>

@code {
    [ParameterAttribute]
    public string userId { get; set; }
    [ParameterAttribute]
    public Group group { get; set; }
    [ParameterAttribute]
    public string UserName { get; set; }
    public IList<Channel> currectChannels { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (group is not null)
        {
            currectChannels = await gps.GetChannelFromGroupAsync("RoomSideBar: Getting Channels.", group.Id);
        }
    }

    private void HandleRightClick_GroupNameBar()
    {

    }

    private void HandleMouseUp_GroupNameBar()
    {

    }
}
