@using MisteryBlazor.Services.DataManager
@inject GroupsManager Gm

<Modal Title="修改名字"
       Visible="@Visible"
       OnOk="()=>HandleOk.InvokeAsync(NewName)"
       OnCancel="@HandleCancel">
    <p>当前群组名： @Name</p>
    <Input Placeholder="修改为..." @bind-Value="@NewName" AutoFocus="true" DefaultValue="@Name"/>
</Modal>
@code {
    private string NewName;
    [ParameterAttribute] 
    public bool Visible { get; set; } = false;
    [ParameterAttribute]
    public string Name { get; set; }
    [ParameterAttribute]
    public EventCallback HandleCancel { get; set; }
    [ParameterAttribute]
    public EventCallback<string> HandleOk { get; set; }

}